.wrapper{

    width: 100vw;
    margin: 50px 0 0 0;

}

.accordion{
    display: flex;
    flex-direction: column;
    height: auto;
width: 45%;
    
    margin: 0 auto;
    gap: 20px;
    

}

.item{
    background-color: yellow;
    padding: 10px 30px;
    cursor: pointer;
    height: auto;
}

.title{

    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.multi-selection{
    background-color: rgb(73, 73, 40);
    color: white;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    
}

.enablemulti{
    box-shadow: 
        0 0 5px rgba(0, 0, 0, 0.5), 
        0 0 5px rgba(0, 0, 0, 0.5) inset, 
        5px 0 5px rgba(0, 0, 0, 0.5), 
        -5px 0 5px rgba(0, 0, 0, 0.5); 
}